
<div class="fluid-container wholepage">
    <h1 class="heading">Weather Application</h1>

    <h2 class="sub_heading">Current Weather</h2>
    <!-- select district -->
    <form [formGroup]="attributeSelection">
        <select class="select" (change)="selectValue($event)" formControlName="pos_code_field" style="padding:4px">
            <option value="">Select the option</option>
            
            <ng-container  *ngFor="let heading of  districtArray">
              <option  [value]="heading.district">{{heading.district}}</option>
            </ng-container>
          </select>
          
          <button type="button"class="get" (click)="getWeather()">Get Weather</button>
          <div class="errormsg" *ngIf="attributeSelection.controls['pos_code_field'].invalid && (attributeSelection.controls['pos_code_field'].dirty || attributeSelection.controls['pos_code_field'].touched)" class="errormsg">
            please select the district 
          </div>

          
    </form><br>

    <!-- weather data -->
    <div class="card" style="width: 18rem;margin: auto;" *ngIf="weatherShow">
      <img *ngIf="clearImage" class="card-img-top" src="./../../assets/image/pngegg (1).png" alt="Card image cap">
      <img *ngIf="fewCloudImage" class="card-img-top" src="./../../assets/image/pngegg.png" alt="Card image cap">
      <img *ngIf="lightRainImage" class="card-img-top" src="./../../assets/image/kindpng_1048022.png" alt="Card image cap"> 
      <img *ngIf="commonImage" class="card-img-top" src="./../../assets/image/kindpng_1227285.png" alt="Card image cap">
        <div class="card-body">
                <h2 style="color: violet;">City : {{weatherData?.name}}</h2>
                <h2  style="color:red">Temperature : {{weatherData?.main.temp}}</h2>
                <h2 style="color:blue">Description{{weatherData?.weather[0].description}}</h2>   
                <section>
                  
                  <mat-button-toggle-group style="border:2px solid green" [formControl]="fontStyleControl" aria-label="Font Style">
                    <mat-button-toggle  value={{fahernhitValue}}`F>Fahernhit</mat-button-toggle>
                    <mat-button-toggle value={{celsiousValue}}`C>Celsious</mat-button-toggle>
                  </mat-button-toggle-group>
                  <p>Temperature value is {{fontStyleControl.value}}</p>
                </section>    
        </div>
    </div>
    <br><br>

<div *ngIf="weatherShow">
  <h2 class="sub_heading">Forecast Data</h2>
  <div class="row">
    <div class="card" style="width: 18rem;margin:7px"  *ngFor="let data of forecastData">
      <div class="card-body">
             <h2 style="color:green">Date & Time: {{data?.dt_txt}}</h2>
              <h2 style="color:red">Temperature : {{data?.main.temp}}</h2>    
              <h2 style="color:blue">Description : {{data?.weather[0].description}}</h2>    
      </div>
  </div>
  </div>
 
</div>

</div>
