*{
    text-align: center;
    align-items: center;
   
}
.row{
    margin: 2rem;
}
.wholepage{
    padding: 30px;
}
.heading{
    font-size: 30px;
    font-weight: 600;
    color: blue;
   
}
.sub_heading{
    font-size: 25px;
    font-weight: 600;
    color:rgb(133, 133, 17);
}
img{
    width: 50%;
}
 .mat-button-toggle-checked{
    background: green;
    color: white;
}
.get{
    margin-left: 10px;
    background: lightgreen;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding: 4px;
    border: 2px solid lightgreen;
    border-radius: 5px;
}
.errormsg{
    color: red;
    font-weight: 400;
   
}

